@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  color: #323232;
}

/* @media (prefers-color-scheme: dark) {

} */


.link-animation {
  position: relative;
  color: transparent;
  background-image: linear-gradient(to right, rgb(79 70 229) 50%, #323232 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-clip: text;
  transition: background-position 0.5s ease;
}

.link-animation:hover {
  background-position: left bottom;
  border: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.mask {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(
    90deg, 
    transparent,
    white 10%, 
    white 90%, 
    transparent);
}


@keyframes icon-scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

.icon-scroll-animation {
  animation: icon-scroll 20s linear infinite;
}

.icon-scroll-animation:hover {
  animation-play-state: paused;
}

@keyframes card-scroll {
  to {
    transform: translate(-20%);
    scale: (0.1);
  }
}

.card-scroll-animation {
  animation: card-scroll 3s linear infinite;
}

.card-scroll-animation:hover {
  animation-play-state: paused;
}

